In [ ]:
import pandas as pd

In [ ]:
df=pd.read_excel("E:\Python data\datasets-df-series\empdata.xlsx","Sheet1",parse_dates=['doj'])
df

In [ ]:
df.columns

In [ ]:
df.empid

In [ ]:
df.sal >1000

In [ ]:
df[df.sal==df.sal.max()]

In [ ]:
df.index

In [ ]:
df.set_index('empid',inplace=True)

In [ ]:
df

In [ ]:
df.loc[1002]

In [ ]:
df.iloc[1]

In [ ]:
df[['ename','sal']]

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df['sal'].max()

In [ ]:
df[df.sal==df.sal.min()]

In [ ]:
df.describe()

In [ ]:
df.sal.mean()

In [ ]:
df[['empid','ename']] [df.sal>1000]

In [ ]:
[df.sal>10000]

In [ ]:
df1=pd.read_table("E:/Python data/datasets-df-series/textdata.txt",delim_whitespace=True,names=('empid','ename','sal','doj'))

In [ ]:
df1

In [ ]:
df1

In [ ]:
empdata = {"empid": [1001, 1002, 1003, 1004, 1005, 1006],
"ename": ["Ganesh Rao", "Anil Kumar", "Gaurav Gupta", "Hema Chandra", "Laxmi Prasanna", "Anant Nag"],
"sal": [10000, 23000.50, 18000.33, 16500.50, 12000.75, 9999.99],
"doj": ["10-10-2000", "3-20-2002", "3-3-2002", "9-10-2000", "10-8-2000", "9-9-1999"]}

In [ ]:
df2=pd.DataFrame(empdata)
df2

In [ ]:
empdata1 = [(1001, 'Ganesh Rao', 10000.00, '10-10-2000'),
(1002, 'Anil Kumar', 23000.50, '3-20-2002'),
(1003, 'Gaurav Gupta', 18000.33, '03-03-2002'),
(1004, 'Hema Chandra', 16500.50, '10-09-2000'),
(1005, 'Laxmi Prasanna', 12000.75, '08-10-2000'),
(1006, 'Anant Nag', 9999.99, '09-09-1999')]

In [ ]:
df3=pd.DataFrame(empdata1,columns=['empid','ename','sal','doj'])
df3

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.head(2)

In [ ]:
df.tail(3)

In [ ]:
df[::-1]

In [ ]:
df[:4]

In [ ]:
df.loc[:,['empid']]

In [ ]:
df.loc[:,['empid','sal']]

In [ ]:
df.iloc[0:3,[1,3]]

In [ ]:
df.loc[0:3,['empid','sal']]

In [ ]:
df2

In [ ]:
df3

In [ ]:
df4=pd.read_excel("D:/demo1.xlsx",'Sheet1')
df4

In [ ]:
df4.fillna({'ename':'Null Value','sal':'0000','doj':'00-00-00 00:00:00'},inplace=True)

In [ ]:
df4

In [ ]:
df4.sort_values(by=["eno","sal"],ascending=[False,True])

In [ ]:
df

In [ ]:
df.sort_values(by=['doj','sal'],ascending=[True,False])

In [ ]:
x=df['empid']
y=df['sal']

In [ ]:
import matplotlib.pyplot as plt
plt.bar(x,y)
plt.title("This is the first bar graph!!")
plt.xlabel("empid---->")
plt.ylabel("sal---->")
plt.show()

In [ ]:
df

In [ ]:
df.loc[:,'ename']

In [ ]:
df.loc[:,['ename','sal']]

In [ ]:
df.iloc[:,[1,2,0]]

In [ ]:
df.iloc[:,[0,2]]

In [ ]:
df.loc[:,'doj']

In [ ]:
df.iloc[:,[-1,-2]]

In [ ]:
df[df.sal>12000] [['ename','sal']]

In [ ]:
df[['ename','doj']] [df.sal>10000]

In [ ]:
df.sort_values(by=['sal','doj'],ascending=[True,False])

In [ ]:
ser=pd.Series(df['ename'])
ser

In [ ]:
ser1=pd.Series(df['sal'])
ser1

In [ ]:
import pandas as pd

In [193]:
df5=pd.read_csv("E:/Python data/datasets-df-series/nba.csv")
df5

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,06-Feb,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,06-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,06-May,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,06-May,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,06-Oct,231,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20,06-Oct,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26,06-Mar,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24,06-Jan,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26,07-Mar,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26,7-0,231,Kansas,947276.0

In [194]:
ser=pd.Series(df5['Name'])
ser

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
452       Trey Lyles
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
456      Jeff Withey
Name: Name, Length: 457, dtype: object

In [197]:
ser1=pd.Series(df5['Age'])
ser1

0      25
1      25
2      27
3      22
4      29
       ..
452    20
453    26
454    24
455    26
456    26
Name: Age, Length: 457, dtype: int64

In [198]:
df6=pd.concat([ser,ser1],axis=1)

In [199]:
df6

              Name  Age
0    Avery Bradley   25
1      Jae Crowder   25
2     John Holland   27
3      R.J. Hunter   22
4    Jonas Jerebko   29
..             ...  ...
452     Trey Lyles   20
453   Shelvin Mack   26
454      Raul Neto   24
455   Tibor Pleiss   26
456    Jeff Withey   26

[457 rows x 2 columns]

In [200]:
df6.columns=['Pname','Page']
df6

             Pname  Page
0    Avery Bradley    25
1      Jae Crowder    25
2     John Holland    27
3      R.J. Hunter    22
4    Jonas Jerebko    29
..             ...   ...
452     Trey Lyles    20
453   Shelvin Mack    26
454      Raul Neto    24
455   Tibor Pleiss    26
456    Jeff Withey    26

[457 rows x 2 columns]

In [205]:
mydict={'Pname':ser,'Page':ser1}
df7=pd.DataFrame(mydict)
df7

             Pname  Page
0    Avery Bradley    25
1      Jae Crowder    25
2     John Holland    27
3      R.J. Hunter    22
4    Jonas Jerebko    29
..             ...   ...
452     Trey Lyles    20
453   Shelvin Mack    26
454      Raul Neto    24
455   Tibor Pleiss    26
456    Jeff Withey    26

[457 rows x 2 columns]

In [206]:
type(ser)

pandas.core.series.Series

In [212]:
import numpy as np
import pandas as pd
arr=ser.values

In [208]:
arr

array(['Avery Bradley', 'Jae Crowder', 'John Holland', 'R.J. Hunter',
       'Jonas Jerebko', 'Amir Johnson', 'Jordan Mickey', 'Kelly Olynyk',
       'Terry Rozier', 'Marcus Smart', 'Jared Sullinger', 'Isaiah Thomas',
       'Evan Turner', 'James Young', 'Tyler Zeller', 'Bojan Bogdanovic',
       'Markel Brown', 'Wayne Ellington', 'Rondae Hollis-Jefferson',
       'Jarrett Jack', 'Sergey Karasev', 'Sean Kilpatrick',
       'Shane Larkin', 'Brook Lopez', 'Chris McCullough', 'Willie Reed',
       'Thomas Robinson', 'Henry Sims', 'Donald Sloan', 'Thaddeus Young',
       'Arron Afflalo', 'Lou Amundson', 'Thanasis Antetokounmpo',
       'Carmelo Anthony', 'Jose Calderon', 'Cleanthony Early',
       'Langston Galloway', 'Jerian Grant', 'Robin Lopez', "Kyle O'Quinn",
       'Kristaps Porzingis', 'Kevin Seraphin', 'Lance Thomas',
       'Sasha Vujacic', 'Derrick Williams', 'Tony Wroten', 'Elton Brand',
       'Isaiah Canaan', 'Robert Covington', 'Joel Embiid', 'Jerami Grant',
       'Richaun Holmes', 'Carl Landry', 'Kendall Marshall',
       'T.J. McConnell', 'Nerlens Noel', 'Jahlil Okafor', 'Ish Smith',
       'Nik Stauskas', 'Hollis Thompson', 'Christian Wood',
       'Bismack Biyombo', 'Bruno Caboclo', 'DeMarre Carroll',
       'DeMar DeRozan', 'James Johnson', 'Cory Joseph', 'Kyle Lowry',
       'Lucas Nogueira', 'Patrick Patterson', 'Norman Powell',
       'Terrence Ross', 'Luis Scola', 'Jason Thompson',
       'Jonas Valanciunas', 'Delon Wright', 'Leandro Barbosa',
       'Harrison Barnes', 'Andrew Bogut', 'Ian Clark', 'Stephen Curry',
       'Festus Ezeli', 'Draymond Green', 'Andre Iguodala',
       'Shaun Livingston', 'Kevon Looney', 'James Michael McAdoo',
       'Brandon Rush', 'Marreese Speights', 'Klay Thompson',
       'Anderson Varejao', 'Cole Aldrich', 'Jeff Ayres', 'Jamal Crawford',
       'Branden Dawson', 'Jeff Green', 'Blake Griffin', 'Wesley Johnson',
       'DeAndre Jordan', 'Luc Richard Mbah a Moute', 'Chris Paul',
       'Paul Pierce', 'Pablo Prigioni', 'JJ Redick', 'Austin Rivers',
       'C.J. Wilcox', 'Brandon Bass', 'Tarik Black', 'Anthony Brown',
       'Kobe Bryant', 'Jordan Clarkson', 'Roy Hibbert', 'Marcelo Huertas',
       'Ryan Kelly', 'Larry Nance Jr.', 'Julius Randle',
       "D'Angelo Russell", 'Robert Sacre', 'Louis Williams',
       'Metta World Peace', 'Nick Young', 'Eric Bledsoe', 'Devin Booker',
       'Chase Budinger', 'Tyson Chandler', 'Archie Goodwin',
       'John Jenkins', 'Brandon Knight', 'Alex Len', 'Jon Leuer',
       'Phil Pressey', 'Ronnie Price', 'Mirza Teletovic', 'P.J. Tucker',
       'T.J. Warren', 'Alan Williams', 'Quincy Acy', 'James Anderson',
       'Marco Belinelli', 'Caron Butler', 'Omri Casspi',
       'Willie Cauley-Stein', 'Darren Collison', 'DeMarcus Cousins',
       'Seth Curry', 'Duje Dukan', 'Rudy Gay', 'Kosta Koufos',
       'Ben McLemore', 'Eric Moreland', 'Rajon Rondo', 'Cameron Bairstow',
       'Aaron Brooks', 'Jimmy Butler', 'Mike Dunleavy',
       'Cristiano Felicio', 'Pau Gasol', 'Taj Gibson', 'Justin Holiday',
       'Doug McDermott', 'Nikola Mirotic', "E'Twaun Moore", 'Joakim Noah',
       'Bobby Portis', 'Derrick Rose', 'Tony Snell',
       'Matthew Dellavedova', 'Channing Frye', 'Kyrie Irving',
       'LeBron James', 'Richard Jefferson', 'Dahntay Jones',
       'James Jones', 'Sasha Kaun', 'Kevin Love', 'Jordan McRae',
       'Timofey Mozgov', 'Iman Shumpert', 'J.R. Smith',
       'Tristan Thompson', 'Mo Williams', 'Joel Anthony', 'Aron Baynes',
       'Steve Blake', 'Lorenzo Brown', 'Reggie Bullock',
       'Kentavious Caldwell-Pope', 'Spencer Dinwiddie', 'Andre Drummond',
       'Tobias Harris', 'Darrun Hilliard', 'Reggie Jackson',
       'Stanley Johnson', 'Jodie Meeks', 'Marcus Morris',
       'Anthony Tolliver', 'Lavoy Allen', 'Rakeem Christmas',
       'Monta Ellis', 'Paul George', 'George Hill', 'Jordan Hill',
       'Solomon Hill', 'Ty Lawson', 'Ian Mahinmi', 'C.J. Miles',
       'Glenn Robinson III', 'Rodney Stuckey', 'Myles Turner',
       'Shayne Whittington', 'Joe Young', 'Giannis Antetokounmpo',
       'Jerryd Bayless', 'Michael Carter-Williams', 'Jared Cunningham',
       'Tyler Ennis', 'John Henson', 'Damien Inglis', 'O.J. Mayo',
       'Khris Middleton', 'Greg Monroe', 'Steve Novak',
       "Johnny O'Bryant III", 'Jabari Parker', 'Miles Plumlee',
       'Greivis Vasquez', 'Rashad Vaughn', 'Justin Anderson',
       'J.J. Barea', 'Jeremy Evans', 'Raymond Felton', 'Devin Harris',
       'David Lee', 'Wesley Matthews', 'JaVale McGee', 'Salah Mejri',
       'Dirk Nowitzki', 'Zaza Pachulia', 'Chandler Parsons',
       'Dwight Powell', 'Charlie Villanueva', 'Deron Williams',
       'Trevor Ariza', 'Michael Beasley', 'Patrick Beverley',
       'Corey Brewer', 'Clint Capela', 'Sam Dekker', 'Andrew Goudelock',
       'James Harden', 'Montrezl Harrell', 'Dwight Howard',
       'Terrence Jones', 'K.J. McDaniels', 'Donatas Motiejunas',
       'Josh Smith', 'Jason Terry', 'Jordan Adams', 'Tony Allen',
       'Chris Andersen', 'Matt Barnes', 'Vince Carter', 'Mike Conley',
       'Bryce Cotton', 'Jordan Farmar', 'Marc Gasol', 'JaMychal Green',
       'P.J. Hairston', 'Jarell Martin', 'Ray McCallum', 'Xavier Munford',
       'Zach Randolph', 'Lance Stephenson', 'Alex Stepheson',
       'Brandan Wright', 'Alexis Ajinca', 'Ryan Anderson', 'Omer Asik',
       'Luke Babbitt', 'Norris Cole', 'Dante Cunningham', 'Anthony Davis',
       'Bryce Dejean-Jones', 'Toney Douglas', 'James Ennis',
       'Tyreke Evans', 'Tim Frazier', 'Alonzo Gee', 'Eric Gordon',
       'Jordan Hamilton', 'Jrue Holiday', 'Orlando Johnson',
       'Kendrick Perkins', 'Quincy Pondexter', 'LaMarcus Aldridge',
       'Kyle Anderson', 'Matt Bonner', 'Boris Diaw', 'Tim Duncan',
       'Manu Ginobili', 'Danny Green', 'Kawhi Leonard',
       'Boban Marjanovic', 'Kevin Martin', 'Andre Miller', 'Patty Mills',
       'Tony Parker', 'Jonathon Simmons', 'David West', 'Kent Bazemore',
       'Tim Hardaway Jr.', 'Kirk Hinrich', 'Al Horford', 'Kris Humphries',
       'Kyle Korver', 'Paul Millsap', 'Mike Muscala', 'Lamar Patterson',
       'Dennis Schroder', 'Mike Scott', 'Thabo Sefolosha',
       'Tiago Splitter', 'Walter Tavares', 'Jeff Teague', 'Nicolas Batum',
       'Troy Daniels', 'Jorge Gutierrez', 'Tyler Hansbrough',
       'Aaron Harrison', 'Spencer Hawes', 'Al Jefferson',
       'Frank Kaminsky III', 'Michael Kidd-Gilchrist', 'Jeremy Lamb',
       'Courtney Lee', 'Jeremy Lin', 'Kemba Walker', 'Marvin Williams',
       'Cody Zeller', 'Chris Bosh', 'Luol Deng', 'Goran Dragic',
       'Gerald Green', 'Udonis Haslem', 'Joe Johnson', 'Tyler Johnson',
       'Josh McRoberts', 'Josh Richardson', "Amar'e Stoudemire",
       'Dwyane Wade', 'Briante Weber', 'Hassan Whiteside',
       'Justise Winslow', 'Dorell Wright', 'Dewayne Dedmon',
       'Evan Fournier', 'Aaron Gordon', 'Mario Hezonja', 'Ersan Ilyasova',
       'Brandon Jennings', 'Devyn Marble', 'Shabazz Napier',
       'Andrew Nicholson', 'Victor Oladipo', 'Elfrid Payton',
       'Jason Smith', 'Nikola Vucevic', 'C.J. Watson', 'Alan Anderson',
       'Bradley Beal', 'Jared Dudley', 'Jarell Eddie', 'Drew Gooden',
       'Marcin Gortat', 'JJ Hickson', 'Nene Hilario', 'Markieff Morris',
       'Kelly Oubre Jr.', 'Otto Porter Jr.', 'Ramon Sessions',
       'Garrett Temple', 'Marcus Thornton', 'John Wall', 'Darrell Arthur',
       'D.J. Augustin', 'Will Barton', 'Wilson Chandler',
       'Kenneth Faried', 'Danilo Gallinari', 'Gary Harris',
       'Nikola Jokic', 'Joffrey Lauvergne', 'Mike Miller',
       'Emmanuel Mudiay', 'Jameer Nelson', 'Jusuf Nurkic',
       'JaKarr Sampson', 'Axel Toupane', 'Nemanja Bjelica',
       'Gorgui Dieng', 'Kevin Garnett', 'Tyus Jones', 'Zach LaVine',
       'Shabazz Muhammad', 'Adreian Payne', 'Nikola Pekovic',
       'Tayshaun Prince', 'Ricky Rubio', 'Damjan Rudez', 'Greg Smith',
       'Karl-Anthony Towns', 'Andrew Wiggins', 'Steven Adams',
       'Nick Collison', 'Kevin Durant', 'Randy Foye', 'Josh Huestis',
       'Serge Ibaka', 'Enes Kanter', 'Mitch McGary', 'Nazr Mohammed',
       'Anthony Morrow', 'Cameron Payne', 'Andre Roberson',
       'Kyle Singler', 'Dion Waiters', 'Russell Westbrook',
       'Cliff Alexander', 'Al-Farouq Aminu', 'Pat Connaughton',
       'Allen Crabbe', 'Ed Davis', 'Maurice Harkless', 'Gerald Henderson',
       'Chris Kaman', 'Meyers Leonard', 'Damian Lillard', 'C.J. McCollum',
       'Luis Montero', 'Mason Plumlee', 'Brian Roberts', 'Noah Vonleh',
       'Trevor Booker', 'Trey Burke', 'Alec Burks', 'Dante Exum',
       'Derrick Favors', 'Rudy Gobert', 'Gordon Hayward', 'Rodney Hood',
       'Joe Ingles', 'Chris Johnson', 'Trey Lyles', 'Shelvin Mack',
       'Raul Neto', 'Tibor Pleiss', 'Jeff Withey'], dtype=object)

In [220]:
arr1=np.array([10,20,30])

In [221]:
arr1
arr1.ndim

1

In [222]:
ser2=pd.Series(arr1)